/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
    width: 100%;
}

#index-banner .parallax {
    left: 175%;
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

#index-banner h1 {
    -webkit-text-stroke: 1px white;
    font-size: 3.5rem;
    font-weight: 900
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.title {
    font-size: 2rem;
    font-weight: 900;
    -webkit-text-stroke: 0.5px white;
    color: black;
}

.stretch {
  height: 655px;
}

@media only screen and (min-width : 400px) {
    #index-banner .parallax {
        left: 110%;
    }
    .stretch {
      height: 525px;
    }
}

@media only screen and (min-width : 550px) {
    #index-banner .parallax {
        left: 75%;
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
    .stretch {
      height: 425px;
    }
}
@media only screen and (min-width : 900px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 0%;
  }
  #index-banner .parallax {
    left: 40%;
  }
  .title {
      color: white;
      font-weight: 100;
  }
}
@media only screen and (min-width : 1075px) {
 #index-banner .parallax {
    left: 0%;
  }
}
